<html>
<head>
       <title>Buca's blog</title>
   </head>
   <body>
       <div>
           <h1><a href="">Buca's Blog</a></h1>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My first post</a></h2>
           <p>Teraz pred chvilou som dopila svoje cappucino.</p>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My second post</a></h2>
           <p>Bolo velmi dobre, opovazujem sa povedat,ze az fantasticke.</p>
       </div>
   </body>
</html>
